# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=easy_hotel_payments

# Configurações do MercadoPago
MERCADOPAGO_PUBLIC_KEY=TEST-b7d5893f-f5af-4936-a199-b22b9d6e22fc
MERCADOPAGO_ACCESS_TOKEN=TEST-6700584212967078-073014-26fb886b92988261a6a0b1b629e56839-119916772
MERCADOPAGO_SANDBOX=true

# Configurações do Serviço
PORT=3004
WEBHOOK_BASE_URL=http://localhost:3004

# Configurações de Log
LOG_LEVEL=info 